:local(.bar) {
  fill: lightgray;
}

:local(.example) {
  cursor: pointer;
  flex-shrink: 0;

  &:not(:first-child) {
    margin-left: 50px;
  }
}

:local(.examples) {
  display: flex;
  margin: 50px;
}

:local(.opacity) {
  align-items: center;
  background-color: orange;
  display: flex;
  height: 100px;
  justify-content: center;
  text-align: center;
  width: 100px;
}