@import './common';

.bar {
  display: flex;
  flex-direction: column;
  width: 30px;
}

.example {
  flex-shrink: 0;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.examples {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.segment {
  flex-shrink: 0;
}